body {
    margin: none;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-weight: 900;
    margin: none;
    padding: none;
}
p {
    
}
.flexbox {
    display: flex;
}
.flex-50 {
    width: 50%;
}
.btn1 {
    padding: 10px 20px;
    text-decoration: none;
    background-image: linear-gradient(aqua navy);
    color: white;
    font-size: 16px;
    font-weight: 600;
}